#slider {
    position: relative;
	width: 100%;
}

#templatemo_wrapper {
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

#header {
	width: 960px;
	height: 101px;
	background: url(../images/templatemo_header.png) no-repeat
}

#header h1 { margin: 0; padding: 0 }

#header h1 a {
	display: block;
	float: left;
	margin: 20px 0 0 140px;
	width: 320px;
	font-size: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #600;
	text-decoration: none;
}

#header h1 a span { display: block; font-size: 15px; color: #000; }

#menu {
	width: 780px;
	height: 40px;
	padding: 0 90px;
	background: url(../images/templatemo_menu.png) no-repeat
}


#content {
	clear: both;
	width: 700px;
	height: 360px;
	padding: 80px 130px 52px 130px;
	background: url(../images/templatemo_body.png) no-repeat
}

#footer {
	width: 700px;
	color: #c4af9e;
	padding: 20px 130px;
	text-align: center;
}

#footer a {
	color: #c4af9e;
}

#footer a:hover {
	color: #ec800b;
}

.scroll {
    height: 360px;
    width: 700px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    clear: left;
}

.scrollContainer div.panel {
    height: 360px;
    width: 700px;
	padding: 0;
	overflow: auto;
}

ul.navigation {
	width: 960px;
	height: 40px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

ul.navigation li {
    display: inline;
    margin: 0;
	padding: 0;
}

ul.navigation a {
	float: left;
	display: block;
	width: 100px;
	height: 30px;
	padding: 10px 0 0 0;
	margin-right: 1px;
	color: #3f3228;
	font-size: 14px;
	font-weight: bold;
    text-decoration: none;
	text-align: center;
}

ul.navigation a:hover, ul.navigation a.selected {
	color: #000;
	text-shadow: 1px 1px 1px #fed8ae;
	background: url(../images/templatemo_menu_hover.png) repeat-x;
}

ul.navigation a:focus {
    outline: none;
}

.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

.scrollButtons.left {
    left: -50px;
}

.scrollButtons.right {
    right: -50px;
}

.hide {
    display: none;
}
