#tf { position: absolute; left: 0px; top: 0px;text-align:center; width: 100%; z-index:840; }
#df { position: absolute; left: 0px; bottom: 0px;text-align:center; width: 100%; z-index:840; }
div > div#tf { position: fixed; }
div > div#df { position: fixed; }
pre.fixit { overflow:auto;border-left:1px dashed #000;border-right:1px dashed #000;padding-left:2px; }

#load_image {
	position: fixed;
	top: 50%;
	left: 40%;
	text-align: center;
	height: 100px;
	width: 200px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	opacity: 0.6;
	z-index: 100;
}

label.error, div.error {
	font-weight:bold;
	color: red;
	margin-left:10px;
}
input.success {
	border: 1px solid #49c24f;
	background: #bcffbf;
}
input.error {
	border: 1px solid #c24949;
	background: #ffbcbc;
}
textarea.error {
	border: 1px solid #c24949;
	background: #ffbcbc;
}


.tabel {
	width: 100%;
	border: 1px #fff solid;
}
.tabel th {
	text-align: left;
	padding: 2px;
	border-bottom: 2px #fff solid;
}

.tabel td {
	padding: 2px;
}




/* begin css tabs */

ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #6c6; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #cfc; /* set unselected tab background color as desired */
color: #666; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #fff; /* set desired hover color */
}

