/*	Credit: http://www.templatemo.com	*/

body {
	margin: 0px;
	padding: 0px;
	color: #a29e99;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	background-color: #000000;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: no-repeat;
	background-position: top center
}

a, a:link, a:visited { color: #ef8412; text-decoration: underline; }
a:hover { text-decoration: none; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #b9e401; font-family: Georgia, "Times New Roman", Times, serif; }
h1 { font-size: 38px; font-weight: normal; margin: 0 0 20px 0; padding: 5px 0; line-height: 30px; }
h2 { font-size: 30px; font-weight: normal; margin: 0 0 20px 0; font-weight: normal; line-height: 30px }
h3 { font-size: 24px; margin: 0 0 15px 0; padding: 0; padding: 0; font-weight: normal;  }
h4 { font-size: 18px; margin: 0 0 5px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 5px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; font-weight: bold }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; border: 1px solid #000; padding: 4px; background: #222; margin-bottom: 10px }
.image_fl { float: left; margin: 3px 30px 0 0 }
.image_fr { float: right; margin: 3px 0 0 30px }

blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#333; }
cite span { color: #666; }
em { color: #fff; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(images/templatemo_list.png) no-repeat; margin:0 0 20px; padding: 0 0 0 20px; 	line-height: 1em; }
.tmo_list li a { color: #fff; }
.tmo_list li a:hover { color: #ff4301; }

.btn_more a {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #ef8412;
	padding: 2px 15px 2px 0;
	text-decoration: none;
}

.btn_more a:hover {
	color: #b9e401;
	text-decoration: underline;
}

.col_320 { width: 320px; }

#social_box {
	display: block;
	height: 48px;
	padding: 0;
	margin: 0;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 48px;
	height: 48px;
	margin-right: 60px;
}

.service_list { margin: 30px 0 0 15px; padding: 0; list-style: none; }
.service_list li { margin: 0; padding: 0; }
.service_list li a { font-size: 14px; display: block; height: 25px; margin-bottom: 12px; padding-left: 40px; text-decoration: none; }

.service_list li .service_one { background: url(images/onebit_08.png) center left no-repeat; }
.service_list li .service_two { background: url(images/onebit_11.png) center left no-repeat; }
.service_list li .service_three { background: url(images/onebit_17.png) center left no-repeat; }
.service_list li .service_four { background: url(images/onebit_21.png) center left no-repeat; }
.service_list li .service_five { background: url(images/onebit_12.png) center left no-repeat; }

#contact_form { padding: 0; }

#contact_form form { margin: 0px; padding: 0px; }

#contact_form form .input_field {
	width: 310px;
	padding: 5px;
	background: #000;
	border: 1px solid #36322e;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contact_form form label { display: block; width: 100px; margin-top: 5px; font-size: 12px; }

#contact_form form textarea {
	width: 310px;
	height: 80px;
	padding: 5px;
	background: #000;
	border: 1px solid #36322e;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contact_form form .submit_btn { padding: 5px 10px; background: #000; border: 1px solid #36322e; color: #FFFFFF; }

#contactus h4 { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #000 }

#gallery_container { clear: both; margin-top: 30px; padding-right: 40px; width: 640px; height: 300px; overflow: auto; }

#gallery_container .gallery_box {
	clear: both;
	display: block;
	padding: 0;
	margin: 0 0 40px 0;
}

.gallery_box img {
	float: left;
	width: 280px;
	height: 100px;
	padding: 4px;
	background: #1b2c35;
	border: 1px solid #0b1418;
	margin: 3px 30px 0 0;
}



.input, .select, .select option {
	padding: 5px;
	background: #000;
	border: 1px solid #36322e;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.label { display: block; width: 110px; margin-top: 5px; font-size: 12px; float:left; }

.textarea {
	width: 280px;
	height: 80px;
	padding: 5px;
	background: #000;
	border: 1px solid #36322e;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.submit_btn { padding: 5px 10px; background: #000; border: 1px solid #36322e; color: #FFFFFF; }
